body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./background-image.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #ffff;
  display: flex;
  justify-content: center;
}

h1,
h2 {
  color: #ffff;
  padding: 3rem 0;
  text-align: center;
  text-transform: uppercase;
  font-family: "Staatliches", cursive;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
}

.task-container {
  display: flex;
  justify-content: space-between;
  background-color: #33c3f0;
  margin-bottom: 1em;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  margin-left: 0;
}
h3 {
  font-size: 1.2em;
  letter-spacing: 1px;
  font-family: "Staatliches", cursive;
  margin: 0;
  padding: 0 20px;
}

.delete {
  color: #ff0000;
  cursor: pointer;
  border: none;
  font-size: 1.2em !important;
  letter-spacing: 1px;
  margin-left: 0;
  font-family: "Staatliches", cursive;
  margin: 0;
}

.alert-error {
  background-color: #ffff;
  color: #ff0000;
  padding: 0.5rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-family: "Staatliches", cursive;
}

.column,
.columns {
  margin-left: 0;
}
